#edit_room_form{
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--pure-white);
    // border-radius: 10px;
    box-shadow: 2px 0 40px -25px;
    width: 90%;
    min-height: calc(100vh - 76px - 39px - 80px);
    margin: 30px auto 0 auto;
    padding-bottom: 40px;
    
     hr{
        height: 3px;
        width: 80%;
        border: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--light-white), rgba(0, 0, 0, 0));
        &:nth-of-type(1){
            margin-top: -10px;
        }
        &:nth-of-type(2){
            margin-top: 20px;
        }
        
     }

     
     h1{
         font-weight: 700;
         font-size: 25px;
        color: var(--light-grey-2);
        margin:40px;
        text-align: center;
    }

    .element{
        display: grid;
        width: 80%;
        // max-width: 1000px;
        grid-template-columns: 1.5fr 4fr;
        align-items: center;
        margin-top: 20px;
        
        
        // padding-left: 15px;
        
        

        label{
            display: flex;
            align-items: center;
            color: var(--dark-grey-2);
            width: 100%;
            height: 100%;
            min-height: 40px;
            font-weight: 500;
            font-size: 18px;
            padding-left: 15px;
            background-color: var(--light-grey-1);
        }
    }

    input{
        
        color: var(--dark-grey-2);
        width: 100%;
        font-size: 18px;
        padding: 15px;
        border: none;
        background-color: var(--light-white);
    }

    select{
        color: var(--dark-grey-2);
        width: 100%;
        font-size: 18px;
        padding: 15px;
        border: none;
        background-color: var(--light-white);
        
    }

    
    button{
        background-color: var(--dark-caramel);
        text-align: center;
        width: 27.27%;
        outline: none;
        letter-spacing: 1px;
        border: none;
        margin-top: 0px;
        padding: 15px;
        cursor: pointer;
        color: var(--pure-white);
        font-weight: 500;
        font-size: 18px;
        &:hover{
           filter: brightness(0.9);
        }
    }

    .delete-room-button{
        background: rgb(190, 56, 56);
        opacity: 0.8;
        text-align: center;
        width: 27.27%;
        outline: none;
        letter-spacing: 1px;
        border: none;
        margin-top: 0px;
        padding: 15px;
        cursor: pointer;
        color: var(--pure-white);
        font-weight: 400;
        font-size: 18px;
        &:hover{
            opacity: 1;
        }
    }

    .edit_room_footer{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    @media (max-width: 800px) {
        button, .delete-room-button{
            width: 47%;
        }
    }

    @media (max-width: 1300px) {
        .element{
            grid-template-columns: 1fr;
        }
    }

    @media (max-height: 800px){

        min-height: calc(100vh - 76px - 39px - 20px);
        margin-top: 20px;
        margin-bottom: -10px;
        .element{
            margin-top: 10px;
        }

        .edit_room_footer{
            margin-top: 30px;
        }

        h1{
            margin: 30px
        }

        hr{
            &:nth-of-type(2){
                margin-top: 12px;
            }
        }
    }

}


