.employees{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--pure-white);
    // border-radius: 10px;
    box-shadow: 2px 0 40px -25px;
    width: 90%;
    margin: 30px auto 0 auto;
    padding-bottom: 40px;
     hr{
        width: 100%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--light-grey-1), rgba(0, 0, 0, 0));
     }

    .header{
        width: 100%;
        color: var(--light-grey-2);
        font-weight: 500;

        .label{
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 1px;
            padding: 40px 0 40px 0;
            text-align: center;
        }
        .table-header{
            display: grid;
            width: 100%;
            grid-template-columns: 0.5fr 1fr 0.8fr 1fr 1.5fr 0.5fr;
            padding: 10px;
        }

    }
    .table-row{
        display: grid;
        width: 100%;
        grid-template-columns: 0.5fr 1fr 0.8fr 1fr 1.5fr 0.5fr;
        padding: 10px;
        color: var(--dark-grey-2);
        align-items: center;
    }

    .user{
        font-size: 25px;
        color: var(--light-grey-2);
    }


    .name{
        font-weight: 700;
    }

    .center{
        text-align: center;
    }

    .editEmployeeBtn{
        background: none;
        outline: none;
        border: none;
        font-size: 16px;
        color: var(--dark-caramel);
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }

    .addEmployeeBtn{
        background: none;
        outline: none;
        border: none;
        font-size: 20px;
        color: var(--dark-caramel);
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }



    @media (max-width: 900px){
        .header{
            .table-header{
                display: none;
            }
        }
        .table-row{
            grid-template-columns: 1fr;
            text-align: center;
            line-height: 1.4;
        }
    }

}


.add_employee_form{
    display: none;
    position: fixed;
    z-index: 850;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba($color: #000000, $alpha: 0.8);
    animation-name: modalopen;
    animation-duration: 0.3s;
    
    #modal_content2{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--light-white);
        margin: 20vh auto;
        padding: 40px;
        width: 600px;
        box-shadow: 2px 0 40px -25px;
        border-radius: 2px;
        

        h1{
            color: var(--dark-grey-1);
        }

        .element{
            display: grid;
            grid-template-columns: 1.52fr 4fr;
            align-items: center;
            margin-top: 20px;
            
            
            // padding-left: 15px;
            background-color: var(--light-grey-1);
            

            label{
                display: flex;
                align-items: center;
                color: var(--dark-grey-2);
                width: 100%;
                height: 100%;
                font-weight: 500;
                font-size: 18px;
                padding-left: 15px;
            }
        }

        input{
            
            color: var(--dark-grey-2);
            width: 300px;
            font-size: 18px;
            padding: 15px;
            border: none;
        }

        select{
            color: var(--dark-grey-2);
            width: 300px;
            font-size: 18px;
            padding: 15px;
            border: none;
        }

        
        button{
            background-color: var(--dark-caramel);
            width: 115px;
            outline: none;
            letter-spacing: 1px;
            border: none;
            margin-top: 20px;
            padding: 15px;
            cursor: pointer;
            color: var(--pure-white);
            font-weight: 500;
            font-size: 18px;
            &:hover{
                opacity: 0.8;
            }
        }

        .add_employee_footer{
            width: 415px;
            // display: flex;
            // justify-content: center;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
    }
}