.login{
    background: var(--pure-black);
    background: linear-gradient(to right, #1a120c, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pure-white);

    h1{
        font-weight: 300;
    }
    
    .box{
        width: 400px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color: #422b2b, $alpha: 0.4);
        text-align: center;
        border-radius: 10px;
        font-weight: 500;
        
        

        input[type ="email"], input[type ="password"]{
            border: 2px solid rgb(3, 3, 3);
            padding: 14px 10px;
            text-align: center;
            margin-top: 15px;
            outline: none;
            width: 340px;
            border-radius: 10px;
            background: none;
            font-size: 18px;
            color: white;
            z-index: 900;
        }

        input[type = "submit"]{
            background-color: var(--dark-caramel);
            width: 100px;
            outline: none;
            border: none;
            border-radius: 10px;
            margin-top: 15px;
            padding: 10px;
            cursor: pointer;
            color: var(--pure-white);
            font-size: 18px;
        }

    }

    @media (max-width: 500px){
        .box{
            width: 85%;
            
            input[type ="email"], input[type ="password"]{
                width: 100%;
            }
        }

    }
}