:root {
    --dark-caramel: #BF7651;
    --pure-black: #1c1c1d;
    --light-white: #f8f8ff;
    --pure-white: #fff;
    --light-grey-1: #9c9c9c;
    --light-grey-2: #7c7c7c;
    --dark-grey-1: #5c5c5c;
    --dark-grey-2: #3c3c3c;
}