@import 'resets', 'variables', 'navbar', 'sidebar', 'dashboard', 'content', 'employees', 'rooms', 'reservations', 'emails', 'login', 'scrollbar', 'edit-employee', 'edit-room', 'room-type', 'settings';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


    

body{
    background-color: var(--light-white);
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Roboto';
    
    display: flex;
    //flex-wrap: wrap;
    align-items: flex-start;
    overflow-x: hidden;
    scrollbar-color: var(--dark-grey-2) var(--light-grey-2);
}



.settings_form{
    display: none;
    position: fixed;
    z-index: 880;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba($color: #000000, $alpha: 0.8);
    animation-name: modalopen;
    animation-duration: 0.3s;
    
    #modal_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--light-white);
        margin: 10vh auto;
        padding: 40px;
        width: 600px;
        box-shadow: 2px 0 40px -25px;
        border-radius: 2px;
        

        h1{
            color: var(--dark-grey-1);
            padding-bottom: 10px;
        }

        .element{
            display: grid;
            grid-template-columns: 3fr 4fr;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            
            
            // padding-left: 15px;
            background-color: var(--light-grey-1);
            

            label{
                display: flex;
                align-items: center;
                color: var(--dark-grey-2);
                width: 100%;
                height: 100%;
                font-weight: 500;
                font-size: 18px;
                padding-left: 15px;
            }
        }

        input{
            color: var(--dark-grey-2);
            width: 300px;
            font-size: 18px;
            padding: 15px;
            border: none;
        }

        button{
            background-color: var(--dark-caramel);
            width: 42%;
            outline: none;
            letter-spacing: 1px;
            border: none;
            margin-top: 20px;
            padding: 15px;
            cursor: pointer;
            color: var(--pure-white);
            font-weight: 500;
            font-size: 18px;
            &:hover{
                opacity: 0.8;
            }
        }

        .settings_footer{
            width: 100%;
            // display: flex;
            // justify-content: center;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        @media (max-height: 800px){
            padding-top: 20px;
                
            .element{
                margin-top: 10px;
            }
            .settings_footer{
                margin-top: 10px;
            }
        }
    }

   
}


@media (max-width: 600px){
    .sidebar{
        width: 230px;
        position: fixed;
        transform: translate(-230px, 0);
        .sidebar__options{
            .mobile-only{
                display: block;
            }
        }
    }
   

    .settings_form{
        #modal_content{
            margin-top: 12vh;
            width: 350px;
            .element{
                display: grid;
                grid-template-columns: 1fr;
                
                label{
                    height: 40px;
                }
            }

            .settings_footer{
                width: 300px
            }
        }
    }
}

@keyframes modalopen{
    from{ opacity: 0}
    to {opacity: 1}
}